<!doctype html>
<html lang="en">
    <head>
        <title>Not Found</title>
        <style>
            body {
                margin: 0;
                height: 100vh;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>404</h1>
        <a href="/">Return to main page</a>
    </body>
</html>
